/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url("logo.png");
	background-size:auto;
	background-position: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#primarynav{   
background: #800080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Lobster', cursive;
    font-family: 'Satisfy', cursive;
    font-size: xx-large;
	font-weight:700;
	color:black;
    padding-top: 10px ;
	padding-bottom: 10px;
}
#primarynav img{
	border-radius: 50%;
	margin-right:20px;
	border: 1px solid black;
}

/* *************secondary nav */
#secondarynav img{
	border-radius: 50%;
	border: black;
	border-style:solid;
	border-radius:50%;
	border-width:2px;
}

#secondarynav{
	padding-top:2px;
	padding-bottom:2px;
	border: 2px solid black;
	
	
}
#righticons li{
	padding: 0 1rem 0 1rem;
	
	}
#righticons li:hover{
border: 2px solid blue;

}

#SOS span{
	display:block;
	color:red;
	font-size:2.5rem;
	padding : 0 2px 0 2px;
}
#SOS li:hover{
	border: 3px solid red;
}
#righticons li:nth-of-type(5){
	border: 2px solid cadetblue;
}

ion-icon{
	font-size:2.5rem;
	color:black;
}


/* ***************section */


.outerbox{
	display:flex;
	
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
.boxin{ 
	
	width:100%;
	min-height: 80vh;;
	max-width:1100px;
	margin-top:50px;
	background-color:#00000079;
	border-radius:10px;
	/* text-align:center; */
	color:white;
	padding-top:50px;
	padding-left:130px;
    padding-right:130px;
}
.editprofile{
    display:block;
    margin-left:40%;
    margin-top:50px;
    margin-bottom:20px;
    
}

.boxin img{
    width:200px;
    height:200px;
    border-radius:50%;
    border:2px solid black;
    margin-bottom:30px;
   
}
.editprofile span{
	padding-left:45px;
}
h2{
    margin-top:70px;
    font-size:2rem;
    color:rgb(255, 255, 255);
}
hr{
   
    background-color: white;;
}

span{
    font-size:1.5rem;
   
}
label{
    margin-right:70px;
    margin-top:0;
    font-size:1.5rem;
}
label:last-of-type{
    margin-right:210px;
}
button{
    width:80px;
    height:40px;
    background-color:rgb(68, 68, 219);
    color:white;
    font-size:1.3rem;
    border-radius:5px;
    border:none;
}


#specialButton{
    float:right;margin:20px 45% 70px 0;
}
#specialButton1{
    float:right;margin:20px 40px 70px 0;
}
a{
    color:white;
    text-decoration:none;
    font-size:1.3rem;
   
}
a:hover{
    text-decoration: none;
    /* color:white; */
}
button:hover{
    color:white;
    transition:100ms;
    transform:scale(1.2);

}


input{
    margin: 20px 20px 20px 0;
    width:350px;
    height:40px;
    font-size:1.2rem;
    border:none;
    border-radius:3px;
    padding-left:20px;
}

/* *******************footer */

.footer {

font-size:1.5rem;
overflow: hidden;
background:#0f3443;
display:flex;
flex-direction: row;
justify-content:space-evenly;
}

.footer li{
	
	padding: 30px 15px;
	text-decoration:none;
}








 